<h1 mat-dialog-title tabindex="0">New Game</h1>
<div mat-dialog-content>
  <p tabindex="0">Fill the fields to add a new game</p>
  <form class="form-field" [formGroup]="gameForm">
    <mat-form-field color="accent">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required />
      <mat-error *ngIf="gameForm.get('title')?.hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field color="accent">
      <mat-label>Year</mat-label>
      <input type="number" matInput formControlName="year" required />
      <mat-error *ngIf="gameForm.get('year')?.hasError('required')">
        Year is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field color="accent">
      <mat-label>Console</mat-label>
      <mat-select formControlName="console" required>
        <mat-option *ngFor="let console of consoles" [value]="console.value">
          {{console.value}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="gameForm.get('console')?.hasError('required')">
        Console is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field color="accent">
      <mat-label>Personal Notes</mat-label>
      <textarea matInput formControlName="personalNotes"></textarea>
    </mat-form-field>

    <mat-slide-toggle formControlName="completed">Completed</mat-slide-toggle>

    <mat-form-field color="accent" *ngIf="isShowDateCompletion()">
      <mat-label>Completed date</mat-label>
      <input matInput [max]="maxDate" [matDatepicker]="picker" formControlName="dateCompletion">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="gameForm.get('dateCompletion')?.hasError('matDatepickerMax')">Date should be inferior</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="form-field--footer">
  <button mat-button (click)="onNoClick()">Close</button>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="onSubmit()"
    [disabled]="!gameForm.valid"
    [mat-dialog-close]="gameForm.value"
  >
    Add
  </button>
</div>
