body {
  background: #190024;
  color: #fff;
}

.container {
  margin: 0 auto;
  padding-left: $spacing-stack-xxs;
  padding-right: $spacing-stack-xxs;

  @include break-md {
    max-width: 720px;
    padding-left: $spacing-stack-xs;
    padding-right: $spacing-stack-xs;
  }

  @include break-lg {
    max-width: 960px;
  }

  @include break-xl {
    max-width: 1140px;
  }
}

strong {
  font-weight: 700;
}
