.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 $spacing-stack-xs;

  @include break-md {
    max-width: 720px;
  }

  @include break-lg {
    max-width: 960px;
  }

  @include break-xl {
    max-width: 1140px;
  }
}
