@import "../../../../../assets/base/mixins";
@import "../../../../../assets/base/tokens";

.list-title {
  margin: $spacing-stack-xl 0;
}

.list-actions {
  margin-bottom: $spacing-stack-xs;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.list-section {
  grid-column: 2 / span 6;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  display: grid;

  @include break-md {
    grid-column: 2 / span 12;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    grid-gap: 40px;
  }

  .game-card {
    grid-column-end: span 12;

    @include break-md {
      grid-column-end: span 6;
    }

    @include break-xl {
      grid-column-end: span 4;
    }
  }
}

::ng-deep .mat-dialog-content{
  overflow: initial !important;
}
