<h1 class="list-title">Game Catalog</h1>

<section class="list-actions">
  <button
    mat-raised-button color="primary"
    (click)="openDialog()"
  >New Game</button>
</section>

<section class="list-section">
  <ng-container *ngIf="(catalogs$ | async)?.length; else noCatalog">
    <app-game-card
      class="game-card"
      *ngFor="let catalog of catalogs$ | async"
      [title]="catalog.title"
      [subtitle]="catalog.console"
      [content]="catalog.personalNotes"
      [year]="catalog.year"
      [dateCompletion]="catalog.dateCompletion"
      [completed]="catalog.completed"
    ></app-game-card>
  </ng-container>
  <ng-template #noCatalog>
    <small tabindex="0" role="alert">Nothing here, add your first game in catalog!</small>
  </ng-template>
</section>
